**/*.*.cache
**/*.egg
*.egg
*.egg-info
/build
/bin
/include
/lib
/share
/var
.Python
/develop-eggs
/eggs
/parts
/downloads
.installed.cfg
*.pt.py
*.pyc
*.pyo
README.html
adminPassword.txt
PloneController.app
access
.DS_Store
*.bak*
*.sw?
.mr.developer.cfg
.codeintel
*.sublime-project
*.sublime-workspace
src/**